<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capital Country
    </ion-title>
    <ion-buttons slot="end">
      <ion-toggle slot="end" [checked]="darkMode" (ionChange)="toggleDarkMode()">Dark Mode
      </ion-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to Capital Country!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Main Page" src="assets/img/home.png" />
    <ion-card-header>
      <ion-card-title>Welcome to Capital Country!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This application was created as a university project. It servers only one purpose - and thats helping you learn basic Geography.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Database</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Go to the Database to see the capital cities and the countries they belong to.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Locate</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Go to Locate to randomly generate either a city or a country and fill in the correct paired answer. A randomly generated country along with its flag should be displayed on the top.
    </ion-card-content>
  </ion-card>

</ion-content>
