.country {
    font-weight:700;
    display:flex;
    justify-content: center;
    font-size: 14.5px;
}

.city {
    font-weight:700;
    display:flex;
    justify-content: center;
    font-size: 14.5px;
}